<!-- 
<form method="POST">
    <input name="text">
    <input type="submit">
</form>
--> 

<HTML>
   <BODY class="sentAn">
       <center>
       <h1>Data Engineering II : Sentiment Analysis</h1>
       <form method="POST" action="">
           <input type = "text" name = "phrase" placeholder="Write Something" /> <br>
           <input type="hidden" name="form_type" value="get_sentiment"/><br>
            <input type = "submit" value="Analyze">
       </form>
       </center>
   </BODY>
   </HTML>