
<HTML>
    <BODY class="sentimentAnalysis">
        <center>
        <h1>Data Engineering II : Sentiment Analysis</h1>
        <form method="POST" action="{{ url_for('analysis')}}">
            <input type = "text" name = "phrase" placeholder="Write Something" /> <br>
            <input type="hidden" name="form_type" value="get_sentiment"/><br>
             <input type = "submit" value="Analyze">
        </form>
        <p style="margin:0;font-size:40;">It was Negative... </p>
        <div class="tenor-gif-embed" data-postid="16694846" data-share-method="host" data-aspect-ratio="1.36752" data-width="30%"><a href="https://tenor.com/view/sad-pikachu-crying-pokemon-gif-16694846">Sad Pikachu GIF</a>from <a href="https://tenor.com/search/sad-gifs">Sad GIFs</a></div> <script type="text/javascript" async src="https://tenor.com/embed.js"></script>
        </center>
    
    
    </BODY>
</HTML>
    