<HTML>
    <BODY class="sentimentAnalysis">
        <center>
        <h1>Data Engineering II : Sentiment Analysis</h1>
        <form method="POST" action="{{ url_for('analysis')}}">
            <input type = "text" name = "phrase" placeholder="Write Something" /> <br>
            <input type="hidden" name="form_type" value="get_sentiment"/><br>
             <input type = "submit" value="Analyze">
        </form>
        <p style="margin:0;font-size:40;">It was Neutral. </p>
        <div class="tenor-gif-embed" data-postid="5840615" data-share-method="host" data-aspect-ratio="2.245" data-width="30%"><a href="https://tenor.com/view/the-office-theoffice-gif-5840615">The Office GIF</a>from <a href="https://tenor.com/search/the-gifs">The GIFs</a></div> <script type="text/javascript" async src="https://tenor.com/embed.js"></script>
        </center>
    
    
    </BODY>
</HTML>
    