<HTML>
    <BODY class="sentimentAnalysis">
        <center>
        <h1>Data Engineering II : Sentiment Analysis</h1>
        <form method="POST" action="{{ url_for('analysis')}}">
            <input type = "text" name = "phrase" placeholder="Write Something" /> <br>
            <input type = "submit" value="Analyze">
        </form>
        <p style="margin:0;font-size:40;">It was Positive !</p>
        <img src="https://www.gifimili.com/gif/2018/02/bob-l-eponge-arc-en-ciel.gif" border="0" alt="positivity">
        </center>

    </BODY>
</HTML>